*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: black;
}

.disco{
    background-color: rgb(70, 70, 70);
    border:10px solid black;
    padding:15px;
    color:white;
}

p{
    font-size:.8rem;
}
img{
    width: 150px;
}